#akarfont {
    font-family: 'Tinos', serif;
}
#hosgeldin {
    background-color: #484953;
    color: azure;

}

#akarinput {

    background-color: #484953;
    color: azure;

    
}
#akarselect {

    background-color: rgb(94, 91, 91);
    color: azure;
}